<%= form_for(@urop_application) do |f| %>

  <div class="form-group">
    <label>Subject</label>
    <input> 
  </div>
  <%= f.hidden_field :supervisor_id, :value=>params[:supervisor_id] %>
  <%= f.hidden_field :posting_id, :value=> params[:posting_id] %>
  <%= f.hidden_field :student_id, :value=>current_user.id %>

  <div class="field form-group">
    <%= f.label :message %> <p> This will be sent as a copy to the supervisor's email mailbox </p>
    <%= f.text_area :message %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit application", :class=>"btn btn-default", :id=> "submit_button"%>
    <%= button_to "Back", postings_path, :class=>"btn btn-default", :id=> "back_button" %>
  </div>
<% end %>