<center><h3> Projects You've Submitted Applications To </h3></center>
<% if @urop_applications.empty? %>
<center><h4>You haven't applied to any UROPs yet.</h4></center>
<% end %>
<div class="row-fluid">
<% @urop_applications.each do |application| %>
	<div class="span4">
		<h4> <%= link_to application.posting.title, posting_path(application.posting.id) %></h4>
		<p>Sponsor: <%= application.posting.supervisor.first_name %> <%= application.posting.supervisor.last_name %></p>
		<p>Project description: <%= application.posting.description %></p>
		<p>Skills: <%= application.posting.skills %></p>
		<p>Funding type: <%= application.posting.funding_type %></p>
		<p>Your message: <%= application.message %></p>
	</div>
<% end %>
</div>