<%= link_to 'New UROP Posting', new_posting_path, :style=>"margin:20px;" %><br>
<%= link_to 'View all Postings', postings_path, :style=>"margin:20px" %>

<center><h3><%=current_user.first_name+" "+current_user.last_name%>'s UROP postings</h3></center>

<% current_user.postings.each_slice(3) do |slice| %>
  <div class="row-fluid">
  <% slice.each do |posting| %>
  <div class="span4">
    <h4> <%= link_to posting.title, posting_path(posting.id) %></h4>
    <p>Sponsor: <%= posting.supervisor.first_name %> <%= posting.supervisor.last_name %></p>
    <p>Project description: <%= posting.description %></p>
    <p>Skills: <%= posting.skills %></p>
    <p>Funding type: <%= posting.funding_type %></p>

    <!-- Only give users the option to see delete button for postings that they created, validated by can_delete anyway-->
    <% if posting.supervisor_id == current_user.id %>
      <div style="float:left;">
        <%= button_to( 'Delete', posting, method: :delete, :class => 'btn btn-med btn-primary', data: { confirm: 'Are you sure?' } )%>
      </div>

          <div style="float:left;">
      <%= button_to('Edit', edit_posting_path(posting), :class => 'btn btn-med btn-primary', :method => :get) %>
    </div>
    <% end %>
    <% if current_user.type == 'Student' %>
    <%= link_to 'Apply Now', new_urop_application_path(:posting_id => posting.id, :supervisor_id=>posting.supervisor.id) %>
    <%end %>
	<br>
	<h4> Applications </h4>
	<% if posting.urop_applications.empty? %>
		<p> No applications </p>
	<% end %>
	<% posting.urop_applications.each do |application| %>
		<div class="well">
		<%= link_to application.student.first_name+" "+application.student.last_name, student_path(application.student.id) %><br>
		Contact info: <%= application.student.email %><br>
		<%= application.message %>
		</div>
	<% end %>
	</ul>
  </div>
  <% end %><!--/span-->
</div>
<% end %>