<center><h3><%=current_user.first_name+" "+current_user.last_name%>'s UROP postings</h3></center>
<% current_user.postings.each_slice(3) do |slice| %>
<div class="row-fluid">
<% slice.each do |posting| %>
  <div class="span4">
    <h4> <%= link_to posting.title, posting_path(posting.id) %></h4>
    <p>Sponsor: <%= posting.supervisor.first_name %> <%= posting.supervisor.last_name %></p>
    <p>Project description: <%= posting.description %></p>
    <p>Skills: <%= posting.skills %></p>
    <p>Funding type: <%= posting.funding_type %></p>
    <!-- Only give users the option to see delete button for postings that they created, validated by can_delete anyway-->
    <% if posting.supervisor_id == current_user.id %>
     <div class="dropdown" style="float:left">
      <button class="btn btn-sm setting dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown">Settings&nbsp<span class="caret"></span></button>
      <ul class="dropdown-menu setting">
        <li><a href="#"><%= link_to('Edit', edit_posting_path(posting), :method => :get) %></a></li>
        <li><a href="#"><%=link_to( 'Remove', posting, method: :delete, data: { confirm: 'Are you sure?' } )%></a></li>
      </ul>
    </div>
  	<% if posting.urop_applications.empty? %>
  		<p> No applications </p>
    <% else %>
      <%= link_to "Applications", supervisor_application_show_path(posting), class: "btn btn-sm btn-primary",style:"float:left", :method=>:get %><br><br>
      <p> You have <%= posting.urop_applications.length %> application(s) for your posting </p>
  	<% end %>
    <% end %>
  </div><!--span-->
  <% end %>
</div> <!-- row fluid -->
<% end %>