<!--View to render the Student signup form-->
<div class="signupform">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
</div>
</p>

<div class="">

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
</div>
</p>

<div class="">

      <%= f.label :email %><p class="Note">Please use your mit.edu address</p>
      <%= f.text_field :email %>
      </div>
</p>
<div class="">

      <%= f.label :year %>
      <%= f.text_field :year %>
            </div>
</p>

<div class="">

      <%= f.label :major %>
      <%= f.text_field :major %>
                  </div>
</p>

<div class="">

      <%= f.label :resume, "PDFs only" %>
      <%= f.file_field :resume %>
                        </div>
</p>

<div class="">

      <%= f.label :password %>
      <%= f.password_field :password %>
                              </div>
</p>

<div class="">

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
                              </div>

</p>

  <div class="actions">
    <%= f.submit "Sign up!"%>
  </div>
<% end %>
</div>