<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :email %><p class="Note">Please use your mit.edu address</p>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :year %><br />
      <%= f.text_field :year %>
    </p>

    <p>
      <%= f.label :major %><br />
      <%= f.text_field :major %>
    </p>

  <p>
    <%= f.label :resume %><p style="color:gray">PDFs only</p><br />
    <%= f.file_field :resume %>
  </p>

    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>


  <div class="actions">
    <%= f.submit "Sign up!"%>
  </div>
<% end %>
