<center><h2>Update your profile</h2></center>

<!-- Form partial for editing supervisor information -->
<div class="editform">
	<%=form_for @user do |f| %>
		<div class="">
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>
		</div>
		<br></br>
		<div class="">
			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
		</div>
		<br></br>
		<div class="">
			<%= f.label :office %>
			<%= f.text_field :office %>
		</div>
		<br></br>
		<div class="">
			<%= f.label :department %>
			<%= f.text_field :department %>
		</div>
		<br></br>
		<div class="">
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
		<br></br>
		<div class="">
			<%= f.label :lab %>
			<%= f.text_field :lab %>
		</div>
		<br></br>
		<%= f.submit "Submit"%>
	<% end %>
</div>

<%= link_to 'Back to Postings', postings_path %>
