<center><h3>Update your profile</h3></center>

<!-- Form partial for editing student information -->
<div class="editform">
	<%=form_for @user do |f| %>
		<br></br>
		<div class="">
			<%= f.label :first_name %>
			<%= f.text_field :first_name %>
		</div>
		<br></br>
		<div class="">
			<%= f.label :last_name %>
			<%= f.text_field :last_name %>
		</div>
		<br></br>
		<div class="">
			<%= f.label :year %>
			<%= f.text_field :year %>
		</div>
		<br></br>
		<div class="">
			<%= f.label :major %>
			<%= f.text_field :major %>
		</div>
		<br></br>
		<% if !@user.resume.content_type.nil? %>		
		<div class="">
			<%= f.label :resume, "Update your resume" %>
			<%= f.file_field :resume %>
		</div>
		<br></br>
		<% else %>
		<div class="">
			<%= f.label :resume, "Upload a resume" %>
			<%= f.file_field :resume %>
		</div>
		<br></br>
		<%= f.submit "Submit"%>
	<% end %>
</div>

<%= link_to 'Back to Postings', postings_path %>

