<p id="notice"><%= notice %></p>

<div class="profileHeader">
	<br></br>
	<div class="profileInfo">
		<h4>About me</h4>
		<h5>Title: <%= @user.title %></h5>
		<h5>Lab: <%= @user.lab %></h5>
		<h5>Department: <%= @user.department %></h5>
		<h5>Email Address: <%= @user.email %></h5>
		<h5>Office: <%= @user.office %></h5>
	</div>
</div>


<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', postings_path %>
