<p id="notice"><%= notice %></p>

<div class="">
	<br></br>
	<div class="">
		<p>
		  <b>First Name:</b>
		  <%= @user.first_name %>
		</p>
		<p>
		  <b>Last Name:</b>
		  <%= @user.last_name %>
		</p>
		<p>
		  <b>Year:</b>
		  <%= @user.year %>
		</p>
		<p>
		  <b>Major:</b>
		  <%= @user.major %>
		</p>
		<h5><%= link_to 'Resume', @user.resume.expiring_url %></h5>
	</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to Postings', postings_path %>