<p id="notice"><%= notice %></p>
<div class="span3"></div>
	<div class="profileHeader span8 showprofile">
		<div class="inheritFont">
			<p class="inheritFont">
			  <b>First Name:</b>
			  <%= @user.first_name %>
			</p>
			<br>
			<p class="inheritFont">
			  <b>Last Name:</b>
			  <%= @user.last_name %>
			</p>
			<br>
			<p class="inheritFont">
			  <b>Office:</b>
			  <%= @user.office %>
			</p>
			<br>
			<p class="inheritFont">
			  <b>Department:</b>
			  <%= @user.department %>
			</p>
			<br>
			<p class="inheritFont">
			  <b>Title:</b>
			  <%= @user.title %>
			</p>
			<br>
			<p class="inheritFont">
			  <b>Lab:</b>
			  <%= @user.lab %>
			</p>
		</div>
		<br></br>
		<h5 class="alignBottom">
		<%= link_to 'Back to Postings', postings_path %>
		</h5>
	</div>
</div>




