<p id="notice"><%= notice %></p>
<div class="span3"></div>
<div class="profileHeader span8">
	<br></br>
	<div class="profileInfo">
		<h4>About <%=@user.first_name %></h4>
		<h5>Major: <%= @user.major %></h5>
		<h5>Year: <%= @user.year %></h5>
		<h5>Email Address: <%= @user.email %></h5>
		<h5><%= link_to 'Resume', @user.resume.expiring_url %></h5>
	</div>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', postings_path %>
</div>