<p id="notice"><%= notice %></p>

<div class="profileHeader">
	<h2>Welcome <%= current_user.first_name %></h2>
	<br></br>
	<div class="profileInfo">
		<h4>About me</h4>
		<h5>Major: <%= current_user.major %></h5>
		<h5>Year: <%= current_user.year %></h5>
		<h5>Email Address: <%= current_user.email %></h5>
	</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>