
<% if @postings.empty? %>
<center><h2 >No results</h2><center>
<% end %>

<% @postings.each_slice(3) do |slice| %>
<div class="row-fluid">
  <% slice.each do |posting| %>
  <div class="span4">
    <h4> <%= link_to posting.title, posting_path(posting.id) %></h4>
    <p>Sponsor: <%= posting.supervisor.first_name %> <%= posting.supervisor.last_name %></p>
    <p>Project description: <%= posting.description %></p>
    <p>Skills: <%= posting.skills %></p>
    <p>Funding type: <%= posting.funding_type %></p>

    <!-- Only give users the option to see delete button for postings that they created, validated by can_delete anyway-->
    <% if posting.supervisor_id == current_user.id %>

      <%=link_to( 'Remove Post', posting, method: :delete, :class => 'btn btn-med btn-primary', data: { confirm: 'Are you sure?' } )%>
      <%= link_to('Edit', edit_posting_path(posting), :class => 'btn btn-med btn-primary', :method => :get) %>
      <% if posting.urop_applications.empty? %>
        <p> No applications </p>
      <% else %>
        <%= link_to "View Applications", supervisor_application_show_path(posting), class: "btn btn-med", :method=>:get %>
      <% end %>
    <% end %>
    
    <!-- Students have the option to apply and write a review for a posting -->
    <% if current_user.type == 'Student' %>
      <!-- Checks if user already submitted an application. A student can only have one application for a posting -->
      <% if UropApplication.where(:posting_id=>posting.id,:student_id=>current_user.id).exists? %>
        <button class="btn btn-sm" data-toggle="modal" data-target="#apply-modal<%=posting.id%>" disabled="disabled">
          Application Submitted
        </button>
      <% else %>
        <button class="btn btn-sm" data-toggle="modal" data-target="#apply-modal<%=posting.id%>">
          Apply Now
        </button>
      <% end %>
      <%= render "urop_applications/form", :posting => posting %>
  <% end %>
  </div> <!-- span -->
  <% end %>
</div> <!-- row fluid -->
<% end %>



