<!-- Form partial for creating new postings-->
<%= form_for(Posting.new) do |f| %>
  <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this posting from being saved:</h2>

      <ul>
      <% @posting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= f.label :"Posting Title" %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :"Posting Description" %>
      <%= f.string :description %>
    </div>

    <div>
      <%= f.label :"Posting Skills" %>
      <%= f.string :skills %>
    </div>

    <div>
      <%= f.label :"Posting Funding Type" %>
      <%= f.string :funding_type %>
    </div>

  <div class="actions">
    <%= f.submit "Submit New Posting"%>
  </div>
<% end %>
