<% if current_user.type == 'Supervisor' %>
<%= link_to 'New Posting', new_posting_path, :style=>"margin:20px;" %><br>
<%= link_to 'View My Postings', urop_applications_path, :style=>"margin:20px;" %>
<% elsif current_user.type == 'Student' %>
<%= link_to 'View Your Applications', urop_applications_path, :style=>"margin:20px;" %>
<% end %>
<center><h3>UROP postings</h3></center>

<!-- search bar -->
<%= form_tag postings_path, :method => 'get', :id => "postings_search" do %>
<div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", type: "text" %>
<div class="input-group-btn">
	<%= submit_tag "Search By", :name => nil, class: "btn btn-primary" %>
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="button-category">All&nbsp<span class="caret"></span></button>
	<ul class="dropdown-menu pull-right">
	  <li><a href="#" id="all">All</a></li>
	  <li><a href="#" id="title">Title</a></li>
	  <li><a href="#" id="description">Description</a></li>
	  <li><a href="#" id="skill">Skills</a></li>
	</ul>
</div><!--button group-->
</div><!--input group-->
<% end %>
<div id="postings"><%= render 'allpostings' %></div>
