<h1>UROP postings</h1>

<% if current_user.type == 'Supervisor' %>
<%= link_to 'New Posting', new_posting_path %><br>
<%= link_to 'View My Postings', urop_applications_path %>
<% elsif current_user.type == 'Student' %>
<%= link_to 'View Your Applications', urop_applications_path %>
<% end %>

<%= form_tag postings_path, :method => 'get', :id => "postings_search" do %>
  <h2>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </h2>
<% end %>

<div id="postings"><%= render 'allpostings' %></div>
