<a href="#" data-toggle="modal" data-target="#review-modal" style="margin:20px; float:right;">
          Write a Review
</a>
<%= render "reviews/form" %>
<center><h3>UROP postings</h3></center>

<!-- Search Bar -->
<%= form_tag postings_path, :method => 'get', :id => "postings_search" do %>

<div class="input-group">

	<%= text_field_tag :search, params[:search], class: "form-control", type: "text", style: "height:30px;" %>
	<div class="input-group-btn">
		<%= submit_tag "Search By", :name => nil, class: "btn btn-default" %>
		<%= select_tag(:category, options_for_select([['All', '1'],['Title', '2'],['Description','3'], ['Skills','4'], ['Sponsor','5'], ['Funding type','6']], '1'), type:"button", class:"btn btn-default dropdown-toggle") %>
	</div><!--button group-->
</div><!--input group-->
<% end %>
<!--All postings-->
<div id="postings">
	<%= render 'allpostings' %>
</div>
