<center><h4><%= @posting.title %><br>
	Supervisor: <%=@posting.supervisor.first_name%>&nbsp<%=@posting.supervisor.last_name%></h4></center>
<div class="span4">
    <h4> <%= link_to @posting.title, posting_path(@posting.id) %></h4>
    <p> Average Rating: <%= Supervisor.get_rating(@posting.supervisor.id) %> </p>
    <p>Sponsor: <%= @posting.supervisor.first_name %> <%= @posting.supervisor.last_name %></p>
    <p>Project description: <%= @posting.description %></p>
    <p>Skills: <%= @posting.skills %></p>
    <p>Funding type: <%= @posting.funding_type %></p>
<% if current_user.type == "Student" %>
<% if UropApplication.exists?(@posting.id,current_user.id) %>
      <button class="btn btn-sm" disabled="disabled">
        Application Submitted
      </button>
    <% else %>
      <button class="btn btn-sm" data-toggle="modal" data-target="#apply-modal<%=@posting.id%>">
        Apply Now
      </button>
    <% end %>
    <%= render "urop_applications/form", :posting => @posting %>
<% end %>
</div>
<div class="span8">
<h4>UROP Reviews</h4>
<% @posting.supervisor.reviews.each do |review| %>
	<div class="row-fluid">
	Review #<%= @posting.supervisor.reviews.index(review) + 1 %><br>
	<% if review.anonymous %>
		<p>Author : Anonymous </p>
	<% else %>
		<p>Author: <%= review.student.first_name%>&nbsp<%= review.student.last_name %>
	<% end %>
	<p>Overall Rating: <%= review.overall_rating %></p>
	<p>Supervisor Role: <%= review.supervisor_rating %></p>
	<p>Time Commitment: <%= review.time_commitment %>&nbsphours per week</p>
	<p>What I worked on: <%= review.work_description %></p>
	<p>Other comments: <%= review.reflection %></p>
	</div>
<% end %>
</div>
