<!--Urop.io Home Page -->
		
<html>
<br></br>
<h1 class="centerize">Welcome to urop.io!</h1>

<br>
<body>
	
<%= form_tag sessions_path do %>
<div class="form-group">
	<%= text_field_tag :email, params[:email], placeholder: "Email address" %>
</div>
<div class="form-group">
	<%= password_field_tag :password, nil, placeholder: "Password", :id => 'password-field' %>
</div>
<div class="form-group">
	<%= submit_tag "Log in", :class => 'btn btn-large btn-primary', :id => 'login-btn'%>
</div>
<% end %>
<div class="actions">
	<%= button_to('Student', new_student_path, :class => 'btn btn-large btn-primary', :method => :get) %>
	<%= button_to('Supervisor', new_supervisor_path, :class => 'btn btn-large btn-primary', :method => :get) %>
</div>

</body>
</html>


