<!--Urop.io Home Page -->
		
<html>
<br>
<h1 class="centerize homeHeader">urop.io</h1>
<br>
<body class="homepage">
	
<div class="form-group">
<%= form_tag sessions_path do %>
	<div>
		<%= text_field_tag :email, params[:email], placeholder: "Email address" %>
		<br>
		<%= password_field_tag :password, nil, placeholder: "Password", :id => 'password-field' %>
		<br>
		<br>
		<%= submit_tag "Log in", :class => 'btn btn-large btn-primary', :id => 'login-btn'%>
	<% end %>

	<div class="signupButtons">
		<div class="inline">
			<%= button_to('Student', new_student_path, :class => 'btn btn-large btn-primary', :method => :get) %>	
		</div>
		<div>
			<%= button_to('Supervisor', new_supervisor_path, :class => 'btn btn-large btn-primary floatLeft', :method => :get) %>
		</div>
	</div>

	</div>

</div>
<br>

<div class="homepageText">
<p class="hpText">
	urop.io connects MIT students to UROP supervisors and projects that are right for them. Though there are many parts on the path to obtain a UROP -- including find the right project, filling out the formal UROP application through the UROP office, and submitting onboarding documents for a particular department -- our app focuses on the first stage, that of finding the perfect match.
</p>
</div>
</body>
</html>



