<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- Modal -->
<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= f.hidden_field :supervisor_id, :value=> posting.supervisor.id%>
  <%= f.hidden_field :student_id, :value=> current_user.id %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>UROP Review for <%= posting.title %></h4><br>
    <h4> Supervisor: <%= posting.supervisor.first_name+" "+posting.supervisor.last_name %></h4>
  </div>
  <div class="modal-body">
    <div class="field">
      <%= f.label :overall_rating, "Overall Experience" %>
      <%= f.select(:overall_rating, options_for_select([
        ['',''],['5 Excellent','5 Excellent'], ['4 Great','4 Great'], ['3 Average','3 Average'],['2 OK','2 OK'],['1 Poor', '1 Poor']
        ])) %>
    </div>
    <div class="field">
      <%= f.label :supervisor_rating, "*Supervisor Role" %>
      <%= f.select(:supervisor_rating, options_for_select([
        ['',''],['Worked closely with mentor on a project','Worked closely with mentor on a project'],['Met regularly to discuss my independent work','Met regularly to discuss my independent work'],["Did not see supervisor much",'Did not see supervisor much']
        ])) %>
    </div>
    <div class="field">
      <%= f.label :time_commitment, "*How many hours did you spend per week?" %>
      <%= f.number_field :time_commitment, style: "height:30px" %>
    </div>
    <div class="field">
      <%= f.label :expected, "Was the work what you expected?" %>
      <%= f.select(:expected,options_for_select([
        ["Yes","yes"],["No","no"]
        ])) %>
    </div>
    <div class="field">
      <%= f.label :work_description, "*Please briefly describe what you worked on in this UROP." %>
      <%= f.text_area :work_description %>
    </div>
    <div class="field">
      <%= f.label :reflection, "Anything else you'd like to add?" %>
      <%= f.text_area :reflection %>
    </div>
    <div class="field inline-block">
      <%= f.label :anonymous, "*Do you wish to be anonymous?", style: "display:inline;" %>
      <p style="color:gray"> Your review will be public to everyone who has access to the site </p>
      <%= f.radio_button :anonymous, "1"%>Yes
      <%= f.radio_button :anonymous, "0"%>No
    </div>
  </div>
  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close
      </button>
      <%= f.submit "Submit", class: "btn btn-default" %>
    </div>
  </div>
</div>
<% end %>


