<% if current_user.type == "Student" %>
<a href="#" data-toggle="modal" data-target="#review-modal" style="margin:20px; float:right;"><button class="btn btn-primary btn-lg">
          Write a Review
</button></a>
<%= render "reviews/form" %>
<%end%>


<center><h3>UROP Reviews</h3></center><br>
<!-- 
	search bar 
Only display search bar for student users
-->
<% if current_user.type == "Student" %>
<%= form_tag reviews_path, :method => 'get', :id => "reviews_search" do %>
<div class="input-group">
 <%= text_field_tag :search, params[:search], class: "form-control",style:"height:30px",type: "text" %>
 <div class="input-group-btn">
<%= submit_tag "Filter by Supervisor", :name => nil, class: "btn btn-default" %>
</div>
</div>
<% end %>
<% end %>
<div id="reviews"><%= render "allreviews" %></div>